/* Global */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid firebrick; */
}

/* Selectors */

h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto', sans-serif;
}

p,
blockquote {
    font-family: 'Montserrat', sans-serif;
}

blockquote {
    margin: 20px 0;
}

figcaption {
    text-align: end;
    font-size: 18px;
}



img {
    width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: white;
}



/* Classes */

.global-padding {
    padding-left: 10vw;
    padding-right: 10vw;
}

.body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #1f2937;
    color: white;
}

.logo {
    margin-right: 10px;
}

.nav {
    display: flex;
    gap: 10px;
}

.hero {
    display: flex;
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-wrap: wrap;
    background-color: #1f2937;
    color: white;

}

.copy {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    min-width: 40vw;
}

.media {
    min-width: 35vw;
}

.cta-btn {
    align-self: flex-start;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #3882f6;
    color: white;
    font-weight: bold;
}

.inverted {
    border-color: white;
}

.media {
    flex: 1;
}

.media img {
    border-radius: 10px;
}

.content {
    padding-top: 50px;
    padding-bottom: 50px;
}

.content .title {
    padding-bottom: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.card-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.card-item {
    min-width: 250px;
    flex: 1;
}

.card-item img {
    border-radius: 10px;
    margin-bottom: 10px;
}

.quote {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 36px;
    background-color: #e5e7eb;
}

.cta {
    padding: 15px 10vw;
}

.cta-card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 50px 0;
    padding: 20px 10vw;
    background-color: #3882f6;
    color: white;
    border-radius: 20px;
    align-items: center;
}

.cta-card button {
    align-self: center;
}

.cta-copy {
    margin: 0 10px 5vw 0;
}

.cta-copy h2 {
    margin-bottom: 10px;
}

.footer {
    background-color: #1f2937;
    color: white;
    padding: 15px 10vw;
    text-align: center;
    font-weight: bold;
}

