/* Global */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid firebrick;
}

/* Selectors */

h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}



/* Classes */

.body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
}

.nav {
    display: flex;
}

.hero {
    display: flex;
}

.card-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card-item {
    width: 300px;
}

.cta {
    display: flex;
}

